<!DOCTYPE html>
<html lang="en">

<head>
    <title>space</title>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/onboard.css">
</head>

<body>
    <main>
        <div class="useronboard_wrapper">
            <div class="wrapper_headertop_part">
                <h1 onboard-app-title>Space</h1>
                <span onboard-app-quote>Because every moment is unique. So understand every moment</span>
            </div>7
            <div class="wrapper_middle_section">
                <div class="wrapper_form_section">
                    <div form-title>Let's Signup</div>
                    <div class="form_input input_spacing">
                        <input onb-email-input placeholder="Your Email" type="email">
                    </div>
                    <div class="form_btn input_spacing">
                        <button onb-email-btn>Verify</button>
                    </div>
                    <div class="wrapper_divider">
                        <span class="devider_line"></span>
                        <span>or</span>
                        <span class="devider_line"></span>
                    </div>
                    <div class="wrapper_other_onboardinopt">
                        <div class="other_onboardinopt">
                            <span>Create with mobile</span>
                        </div>
                        <div class="other_onboardinopt input_spacing">
                            <span>Create with google</span>
                        </div>
                    </div>
                    <div class="onboarding_content input_spacing">
                        <span>Please understand <a>who we are</a> before proceed.</span>
                    </div>
                    <div class="onboarding_content input_spacing">
                        <span>By continuing you indicate that you agree to Space's <a>Terms of Service</a> and
                            <a>Privacy Policy</a>.</span>
                    </div>
                </div>
            </div>
            <div class="main_imp_links">
                <div class="main_links_wrapper">
                    <div class="imp_page_links">
                        <a href="">who we are</a>
                    </div>
                    <div class="imp_page_links">
                        <a href="">About us</a>
                    </div>
                    <div class="imp_page_links">
                        <a href="">Provacy policies</a>
                    </div>
                    <div class="imp_page_links">
                        <a href="">Contact us</a>
                    </div>
                    <div class="imp_page_links">
                        <a href="">Conditions</a>
                    </div>
                    <div class="imp_page_links">
                        <a href="">Updates</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>