<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space</title>
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/sp_nav.css">
    <link rel="stylesheet" href="../styles/space_plans.css">
</head>

<body>
    <div class="plans_container">
        <div class="plans_sub_container">
            <div class="plans_header">
                <h3 class="account_created">Welcome Rahul D. Your account created succesfully</h3>
                <h4 class="account_created">Let's Activate your account</h4>
                <p class="account_created_content">Your account is created successfully. One last step
                    is remaining to activate your account. We Promise that your this small investment
                    will worth a lot! & add value in your life.</p>
                <!-- <div class="form_btn input_spacing">
                    <button onb-rg-personal-btn common-input><a title="plans_page" href="./space_plans.html"
                            target="_blank">FINISH
                            UP</a>
                </div> -->
                <p class="account_created_content">You can create 5 timelines as per your requirements in this intial
                    plan.</p>
                <p class="account_created_content">If you need more timelines then you can create timelines per 30rs
                    additional.</p>
                <div class="form_btn input_spacing">
                </div>
                <div class="plans_content">

                </div>
            </div>
        </div>
</body>

</html>