<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space</title>
    <link rel="preload" as="style" href="../styles/onboard.css" onload="this.rel='stylesheet'">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/sp_nav.css">

</head>

<body>
    <div class="main_section_pricing">
        <div class="main_subsection_pricing">
            <nav>
                <div class="main_imp_links">
                    <div class="main_links_wrapper">
                        <div class="imp_page_links">
                            <a href="">Who we are</a>
                        </div>
                        <div class="imp_page_links">
                            <a href="">About us</a>
                        </div>
                        <div class="imp_page_links">
                            <a href="">Our values</a>
                        </div>
                        <div class="imp_page_links">
                            <a href="">Contact us</a>
                        </div>
                        <div class="imp_page_links">
                            <a href="">Conditions</a>
                        </div>
                        <div class="imp_page_links">
                            <a href="">Updates</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>