body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    --app-main-color: #0c74df;
    --app-main-back-color: #F2F1EE;
    --app-secondary-back-color: #F0F0F0;
    --app-success-background: #14A44D;
    --app-main-border: #EEEEEE;
    --main-font-color: #1d1d1f;
    --main-font-secondary-color: #424245;
    --main-font-third-color: #212121;
    --app-secondary-border: #E1E1E1;
    --app-line-height: 1.5;
    --app-letter-space: .5px;
    --small-font-size: 12px;
    --medium-font-size: 16px;
    --large-font-size: 18px;
    --extralarge-font-size: 22px;
    --color-bg-default: white;
    --wrapper-width: 280px;
    --web-wrapper-width: 1000px;
    --mainlinks-width: 650px;
    --input-height: 20px;
    --input-btn-padding: 10px;
    --margin-input: 15px;
    --minwidth-bottom-links-tabs: 90px;
    --g-header-height: 40px;
    --warapper-animation-duration: 350ms;
    --app-warning-color: rgb(235, 87, 87);
}


* {
    font-family: inter_regular;
    color: var(--main-font-color);
    letter-spacing: var(--app-letter-space);
}

h1,
h3,
h4 {
    padding: 0;
    margin: 0;
}

input {
    padding: 0;
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
}