:root {
    --wrapper-width: 250px;
    --mainlinks-width: 650px;
    --input-height: 20px;
    --input-btn-padding: 10px;
    --margin-input: 15px;
}

.useronboard_wrapper {}

.wrapper_headertop_part {
    width: var(--wrapper-width);
    padding: 30px;
}

[onboard-app-quote] {
    font-size: var(--medium-font-size);
    line-height: var(--app-line-height);
    letter-spacing: var(--app-letter-space);

}

[onboard-app-title] {
    padding: 10px 0px;
    font-size: var(--extralarge-font-size);
    font-family: inter_ebold;
}

/* #eaeaea */
.wrapper_middle_section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_form_section {
    margin: auto;
    width: var(--wrapper-width);
    max-width: var(--wrapper-width);
}

.wrapper_form_section [form-title] {
    font-size: var(--extralarge-font-size);
    font-family: inter_bold;
    padding-bottom: 10px;
}

.wrapper_form_section .form_input {
    width: 100%;
    /* height: var(--input-height) */
}

.wrapper_form_section .input_spacing {
    margin-top: var(--margin-input);
}

.wrapper_form_section .form_input [onb-email-input] {
    font-size: var(--small-font-size);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--app-secondary-border);
    border-radius: 3px;
    padding: var(--input-btn-padding);
    /* padding: 8px; */
}

.wrapper_form_section .form_btn {
    width: 100%;
}

.wrapper_form_section .form_btn [onb-email-btn] {
    cursor: pointer;
    font-size: var(--small-font-size);
    width: inherit;
    border: 1px solid var(--app-main-border);
    border-radius: 3px;
    padding: var(--input-btn-padding);
}

.wrapper_divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.wrapper_divider span {
    font-size: var(--small-font-size);
    color: var(--main-font-secondary-color);
}

.wrapper_other_onboardinopt {}

.wrapper_other_onboardinopt .other_onboardinopt {
    box-sizing: border-box;
    width: 100%;
    padding: var(--input-btn-padding);
    border-radius: 3px;
    border: 1px solid var(--app-main-border);
    background-color: var(--app-secondary-back-color);
    /* text-align: center; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_other_onboardinopt .other_onboardinopt span {
    font-size: var(--small-font-size);
}

.onboarding_content span {
    font-size: 12px;
    color: #1d1d1f;
    line-height: 1;
    letter-spacing: .2px;
    font-family: inter_regular;
}

.onboarding_content span a {
    font-size: 12px;
    color: #1d1d1f;
    line-height: .9;
    letter-spacing: .2px;
    text-decoration: underline;
    cursor: pointer;
    padding: 1px;
    font-family: inter_regular;
}

.main_imp_links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-secondary-back-color);
}

.main_imp_links .main_links_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--mainlinks-width);
    max-width: var(--mainlinks-width);
}