.onboarding_content {
    margin-top: calc(var(--g-header-height) + 40px)
}

.wrapper_middle_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit
}

.wrapper_form_section {
    margin: auto;
    width: var(--wrapper-width);
    max-width: var(--wrapper-width);
    visibility: hidden;
    opacity: 0;
    max-height: 0px;
    transform: scale(.9) translateY(-10px);
    transition: max-height var(--warapper-animation-duration), opacity var(--warapper-animation-duration), visibility var(--warapper-animation-duration), transform var(--warapper-animation-duration)
}

.wrapper_form_active {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transform: scale(1) translateY(0px);
    transition: max-height var(--warapper-animation-duration), opacity var(--warapper-animation-duration), visibility var(--warapper-animation-duration), transform var(--warapper-animation-duration)
}

.input_group_block {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    position: absolute;
    width: 100%;
    transform: scale(.9);
    transition: opacity var(--warapper-animation-duration), visibility var(--warapper-animation-duration), transform var(--warapper-animation-duration),
}

.input_partitioned {
    /* padding-left: 15px; */
    letter-spacing: 22px;
    /* border: 0; */
    background-position: center;
    background-repeat: repeat-x;
    /* background-position-x: 35px; */
    font-weight: 500;
}

.active_rg_inputblock {
    visibility: visible;
    opacity: 1;
    position: unset;
    max-height: 1000px;
    transform: scale(1);
    transition: opacity var(--warapper-animation-duration), visibility var(--warapper-animation-duration), transform var(--warapper-animation-duration)
}

.wrapper_form_section .form_input {
    width: 100%;
    position: relative;
}

.wrapper_form_section .form_input span {
    cursor: pointer;
    list-style: none;
    color: var(--app-main-color);
    font-size: 12px;
    letter-spacing: .02em;
    line-height: 1;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 400;
}

.wrapper_form_section .input_spacing {
    margin-top: var(--margin-input)
}

.form_input {
    position: relative;
}

/* // FLOATING INPUT LABEL */

.form_input label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    /* color: #fff;  */
    font-size: var(--small-font-size);
    font-weight: 300;
    opacity: .9;
    color: var(--main-font-third-color);
    line-height: var(--app-line-height);
    letter-spacing: var(--app-letter-space);
    pointer-events: none;
    transition: 0.2s;
}

input:focus~label,
input:valid~label {
    top: 0;
    left: 5px;
    /* visibility: visible; */
    opacity: .9;
    padding: 0 4px;
    background: var(--app-mode-color);
}

.resend_otp_opt {
    display: flex;
    justify-content: end;
    margin-top: 10px
}

.wrapper_form_section .form_input input {
    font-size: var(--small-font-size);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--app-main-border);
    border-radius: 3px;
    padding: var(--input-btn-padding)
}

.wrapper_form_section .form_btn {
    width: 100%
}

button a {
    color: #fff
}

.wrapper_form_section .form_btn button {
    cursor: pointer;
    font-size: var(--small-font-size);
    width: inherit;
    border: 1px solid var(--app-main-border);
    border-radius: 3px;
    background-color: var(--app-main-color);
    color: #fff;
    padding: var(--input-btn-padding)
}

.wrapper_form_section .form_btn button:hover {
    opacity: .9
}

.onboarding_content {
    display: flex;
    justify-content: center;
    text-align: center
}

.common_container {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 300ms;
}

.onboarding_content span {
    font-size: 12px;
    color: #1d1d1f;
    line-height: 1.4;
    letter-spacing: .2px;
    font-weight: 400;
}

.onboarding_content span a {
    font-size: 12px;
    color: #1d1d1f;
    line-height: .9;
    letter-spacing: .2px;
    cursor: pointer;
    padding: 1px;
    text-decoration: underline;
    font-weight: 500;
}

#onb_login_opt {
    display: block
}

#registrationn_pointer {
    color: var(--app-main-color);
    cursor: pointer;
    text-decoration: none
}

.wrong_input span {
    font-size: var(--small-font-size);
    color: var(--app-warning-color)
}

.wrapper_other_onboardinopt {
    background: rgba(242, 241, 238, .6);
    border: 1px solid var(--app-main-border);
    padding: 10px;
    border-radius: 3px;
    justify-content: space-between;
    display: flex;
    align-items: center
}

.wrapper_other_onboardinopt label {
    cursor: pointer;
    font-size: var(--small-font-size);
    color: var(--main-font-third-color);
    font-weight: 500
}

@keyframes disable_form {
    from {
        opacity: 1;
        visibility: visible;
        transform: scale(1) translateY(0px);
    }

    to {
        opacity: 0;
        visibility: hidden;
        display: none;
        transform: scale(.8) translateY(-100px);
    }
}

.disable_register_form {
    animation: disable_form 200ms forwards;
    /* transition: transform var(--warapper-animation-duration), opacity var(--warapper-animation-duration), visibility var(--warapper-animation-duration); */
}

.wrapper_other_onboardinopt label:hover {
    color: coral
}

[onb-rg-done-block] {
    width: var(--mainlinks-width);
    margin: auto;
    position: absolute;
    visibility: hidden;
    transition: position 300ms, visibility 300ms;
    transition-delay: calc(var(--warapper-animation-duration) * 2 + 300ms);
    /* display: none; */
}

.onb_rg_done_activate {
    position: unset;
    visibility: visible;
}

@keyframes welcome_content {
    from {
        transform: translateY(200px);
        opacity: .5;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

[onb-rg-done-block] .account_created {
    text-align: start;
    font-size: 50px;
    opacity: 0;
    margin: var(--margin-input);
    animation: welcome_content .5s forwards;
    animation-delay: 1.2s;
}


.account_created_content {
    color: var(--main-font-third-color);
    text-align: start;
    opacity: 0;
    font-size: var(--large-font-size);
    line-height: var(--app-line-height);
    letter-spacing: var(--app-letter-space);
    padding: 20px;
    animation: welcome_content .5s forwards;
    animation-delay: 1.8s;
}

.account_created_content a {
    font-weight: 500;
    text-decoration: underline;
    color: #0071e3;
}

@-webkit-keyframes dot-spinner-ani1 {
    to {
        -webkit-transform: translate(10px);
        transform: translate(10px);
        opacity: 0
    }
}

@keyframes dot-spinner-ani1 {
    to {
        -webkit-transform: translate(10px);
        transform: translate(10px);
        opacity: 0
    }
}

@-webkit-keyframes dot-spinner-ani2 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px);
        opacity: 1
    }
}

@keyframes dot-spinner-ani2 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px);
        opacity: 1
    }
}

@-webkit-keyframes dot-spinner-ani3 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px)
    }
}

@keyframes dot-spinner-ani3 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px)
    }
}

@-webkit-keyframes dot-spinner-ani3 {
    from {
        -webkit-transform: translate(-10px);
        transform: translateX(-10px)
    }

    to {
        -webkit-transform: translate(10px);
        transform: translate(10px)
    }
}

@keyframes wrong-input {
    from {
        -webkit-transform: translate(-12px);
        transform: translateX(-12px)
    }

    to {
        -webkit-transform: translate(12px);
        transform: translate(12px)
    }
}

.wrong_input span {
    font-size: var(--small-font-size);
    color: var(--app-warning-color)
}

/* Bounding Balls Animation */
.dot-spinner {
    display: inline-block
}

.dot-spinner {
    margin-left: 5px
}

.dot-spinner div {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
    letter-spacing: -2px;
}

button .dot-spinner {
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
}

button .dot-spinner div {
    background-color: var(--color-bg-default);
}

.dot-spinner div:first-child {
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
    -webkit-animation: dot-spinner-ani2 .5s linear infinite;
    animation: dot-spinner-ani2 .5s linear infinite;
    opacity: 0
}

.dot-spinner div:nth-child(2),
.dot-spinner div:nth-child(3) {
    -webkit-animation: dot-spinner-ani3 .5s linear infinite;
    animation: dot-spinner-ani3 .5s linear infinite
}

.dot-spinner div:last-child {
    -webkit-animation: dot-spinner-ani1 .5s linear infinite;
    animation: dot-spinner-ani1 .5s linear infinite
}

@-webkit-keyframes dot-spinner-ani1 {
    to {
        -webkit-transform: translate(10px);
        transform: translate(10px);
        opacity: 0
    }
}

@keyframes dot-spinner-ani1 {
    to {
        -webkit-transform: translate(10px);
        transform: translate(10px);
        opacity: 0
    }
}

@-webkit-keyframes dot-spinner-ani2 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px);
        opacity: 1
    }
}

@keyframes dot-spinner-ani2 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px);
        opacity: 1
    }
}

@-webkit-keyframes dot-spinner-ani3 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px)
    }
}

@keyframes dot-spinner-ani3 {
    to {
        -webkit-transform: translate(5px);
        transform: translate(5px)
    }
}

/* Bouncing Balls End */



@-webkit-keyframes dot-spinner-ani3 {
    from {
        -webkit-transform: translate(-10px);
        transform: translateX(-10px);
    }

    to {
        -webkit-transform: translate(10px);
        transform: translate(10px)
    }
}

@keyframes wrong-input {
    from {
        -webkit-transform: translate(-12px);
        transform: translateX(-12px);
    }

    to {
        -webkit-transform: translate(12px);
        transform: translate(12px)
    }
}

/* Plans and account activating css */

@keyframes strip_animations {
    from {
        height: 0px;
    }

    to {
        height: 40px;
    }
}

.account_activated_warning {
    background-color: var(--app-success-background);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition: height var(--warapper-animation-duration) ease-in-out;
    transition-delay: calc(var(--warapper-animation-duration) + 150ms);
    /* animation: strip_animations 800ms ease-in-out forwards;
    animation-delay: 0s; */
}

.account_activated_warning span {
    font-size: var(--small-font-size);
    opacity: 1;
    color: white;
    /* animation: display_strip_content 400ms ease-in-out forwards;
    animation-delay: .8s; */
    transition: opacity 1200ms;
    animation-delay: 1s;
}

.account_activated {
    background-color: var(--app-success-background);
    color: white;
    height: 40px;
}

/* Wrong input animation */
@keyframes wrong_input {
    from {
        transform: translateX(20px);
    }

    to {
        transform: translateX(-20px);
    }
}

.wrong_input_highlight {
    animation: wrong_input 100ms ease-in-out;
}


/* Disclaimer content */

.disclaimer_position {
    position: fixed;
    bottom: 20px;
}

.disclaimer_container {
    width: 100%;
    max-width: var(--wrapper-width);
    margin: auto;
    text-align: center;
}

.disclaimer_container span {
    font-size: var(--small-font-size);
}

.disclaimer_container span a {
    cursor: pointer;
    color: rgb(25, 95, 170);

}

.disclaimer_container span a:hover {
    text-decoration: underline;
}

.input_block_header .header {
    font-weight: 700;
    font-size: var(--large-font-size);
}