:root {
    --minwidth-bottom-links-tabs: 90px;
    --g-header-height: 40px;
}

.main_imp_links {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--g-header-height);
    z-index: 100;
    background-color: var(--app-secondary-back-color);
    /* border: 1px solid var(--app-secondary-border); */
}

.main_imp_links .main_links_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: inherit;
    width: calc(var(--minwidth-bottom-links-tabs) * 6);
    max-width: calc(var(--minwidth-bottom-links-tabs) * 6);
}

.main_imp_links .main_links_wrapper .imp_page_links {
    height: inherit;
}

.main_imp_links .main_links_wrapper .imp_page_links a {
    cursor: pointer;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #1d1d1f;
    font-size: 12px;
    min-width: var(--minwidth-bottom-links-tabs);
    letter-spacing: .02em;
    line-height: 1;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    font-family: inter_regular;
}

.main_imp_links .main_links_wrapper .imp_page_links a:hover {
    font-weight: 500;
}