
.plans_container {
    height: auto;
    max-height: 500px;
}

.plans_sub_container {
    width: 1000px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.plans_content {
    flex: 0.6;
    max-width: 450px;
}
.plans_amount {
    flex: .4;
}
.plans_content p {
    font-size: 12px;
}

.plans_duration_selectors {
    display: flex;
}

.plans_duration_selectors div {
    margin-left: 10px;
}

.plans_amount header {

}