
.plans_container {
    height: auto;
    max-height: 500px;
}

.plans_sub_container {
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}

.plans_header p {
    font-size: 12px;
}

.plans_duration_selectors {
    display: flex;
}

.plans_duration_selectors div {
    margin-left: 10px;
}